body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    }
    
header, footer {
    background-color: #37a9bf;
    }
    
.site-title {
    color: #04407d;
}

img {
    width: 600px;
    height: 500px;
    object-fit: cover;
  }

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul.b {
    list-style-type: square;
}

ul.b :nth-child(odd) {
    background-color: lightcoral;
}

ul.nav-bar {
    list-style: none;
}

a:link {
    text-decoration: none;
  }

  a:hover {
    background-color: lightcoral;
  }
    