/* sets font and main site colour */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    font-size: 0.9rem;
}

/*makes the inner section more responsive */
.wrapper {
    width: 50%;
    margin: auto;
    background-color: #D4E9E7;
}

/* The banner text is now white, centered, fixed in place, with specifed spacing and size */ 
h1 {
    color: white;
    position: absolute; 
    text-align: center;
    width: 50%;
    top: 150px;
    font-size: 3em;
    font-weight: lighter;
}


h2 {
    padding-left: .75em;
}

h3 {
    padding-left: .75em;
}

h4 {
    font-weight: lighter;
}

p {
    padding-left: 1em;
    padding-right: 1em;
}
/* This image now has a set width and the paragraph that follows will float left */
#lone-starfish {
    width: 185px;
    float: left;
    padding-left: .75em;
    padding-right: 0.75em;
    padding-bottom: 0.75em;
}
/* Sets banner photo to take up 100% off wrapper */
#lone-starfish-wide {
    width: 100%;
}

/* there is now a outline around the contact forum with spacing */
.form {
    outline-style: solid;
    outline-width: thin;
    padding: 1.5em;
    margin: 0.75em;
}

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: black;
}

nav li {
    width: inherit;
}

nav li:not(:last-child) {
    border-right: 1px solid black;
}

/*removes underline from link and makes it black instead of blue */
a:link {
    text-decoration: none;
    color: black;
  }

  /*makes visted links black */
  a:visited {
    color: black;
  }

  #urname {
    width: 94%;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
  }

  #email {
    width: 94%;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
  }

  #urmessage {
    width: 94%;
    height: 4rem;
    margin-top: 0.5em;
  }

  button {
    background-color: #D4E9E7;
    font-size: 0.5rem;
    padding: 1em;
    margin-top: 1em;
    border-style: solid;
    border-width: 1px;
  }

footer {
    text-align: right;
}