/* sets font and main site colour */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    font-size: 0.9rem;
}

/*makes the inner section more responsive */
.wrapper {
    width: 50%;
    margin: auto;
    background-color: #D4E9E7;
}

/* The banner text is now white, centered, fixed in place, with specifed spacing and size */ 
h1 {
    color: white;
    position: absolute; 
    text-align: center;
    width: 50%;
    top: 2.6em;
    font-size: 3em;
    font-weight: lighter;
}

h2 {
    padding-left: .75em;
}

h3 {
    padding-left: .75em;
}

p {
    padding-left: 1em;
    padding-right: 1em;
}
/* This image now has a set width and the paragraph that follows will float left */
#lone-starfish {
    width: 185px;
    float: left;
    padding-left: .75em;
    padding-right: 0.75em;
    padding-bottom: 0.75em;
}
/* Sets banner photo to take up 100% off wrapper */
#lone-starfish-wide {
    width: 100%;
}

/* there is now a outline around the contact forum with spacing */
.form {
    outline-style: solid;
    outline-width: thin;
    padding: 1.5em;
    margin: 0.75em;
}

/*adding style and spacing to nav items */
.display li {
    display: inline-block;

    border-right: 1px solid grey;
    padding-right: 13%;
    padding-left: 13%;
    display: flex;

  }

  nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0%;
    display: flex;
    font-size: 1rem;
}

/*removes underline from link and makes it black instead of blue */
a:link {
    text-decoration: none;
    color: black;
  }

footer {
    text-align: right;
}

/*
a {
    display: block;
    padding: 8px;
  }

  .clearfix::after{
    content: "";
    display: block;
    clear: both;
}
*/

/*
li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
  }

  .clearfix::after{
    content: "";
    display: block;
    clear: both;
}