/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* border and padding getting error */
*{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: auto;
    border: auto;
}
/* change font */
body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 90%;
	font-size: 18px;
}

nav {
    background-color: black;
	text-align: center;
}

/*removes style of nav ul*/
nav ul {
	list-style: none;
}

/* adds spacing between list items */
nav li {
	padding: 15px;
}

/* changes how tall the search icon box, colour of icon */
.fa-magnifying-glass {
	height: 20px;
	color: #c78c06;
}

/*removeds underline from nav, chaned all link colours to mustard, black home still needed*/
a:link { 
	text-decoration: none;
	color: #c78c06; 
}

  /*keeps visited link the same colour */
  a:visited {
    color: #c78c06;
  }

/*not very responsive */
#logo {
	max-width: 15%;
	height: auto;
	position: absolute;
    left: 10%;
    top: 10px;
}

/*still needs blackpadding */
#banner {
    background-color: #c78c06;
    width: 100%;
    height: 200px;
	margin: 10px;
}

/* not working yet, have to set rem? stil not bold enough*/
h2 {
	font-size: 50px;
	font-weight: bold;
	padding: 30px;
}

h3 {
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
}

.container-welcome {
	position: relative;
	max-width: 800px;
	margin: 0 auto; 
  }
  
  /* adds the semitransparent background and text w3, still needs to be centered*/
  .container-welcome .content-welcome {
	position: absolute; 
	bottom: 0; 
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); 
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
  }

/* adding style to the connect button */
  #connect {
	background-color: #c78c06;
    font-size: 1rem;
    padding: 1em;
    margin-top: 1em;
	font-weight: 600;
	border: none;
	width: 170px;
  }

  /* lets me customize the play icon, needs to be beside, first needs to be orange, display inline-block dosen't work */
  .fa-play {
    color: white;
    font-size: 1.3rem;
}

/*adds light yellow to about us and padding */
.wrapper-about-us {
background-color: #ffe6ac;
padding: 15px;
}

/*adds colour and spacing to most wrappers */
.wrapper-digital , .wrapper-marketing , .wrapper-video , .wrapper-web , .wrapper-print , .wrapper-john , .wrapper-bob {
	background-color: #ffe6ac;
	padding: 15px;
	margin-bottom: 15px;
	}


  /* style for most of the buttons */
  #digital-plans , #marketing-plans , #video-plans , #web-plans , #print-plans {
	background-color: black;
	color: white;
    font-size: 1rem;
    padding: 1em;
    margin-top: 1em;
	font-weight: 600;
	border: none;
	width: 150px;
	margin-bottom: 15px;
  }

  /* style just for the learn more button, border not working yet */
  #our-vision {
	background-color: rgba(0,0,0,.75);
	color: white;
    font-size: 1rem;
    padding: 1em;
    margin-top: 1em;
	font-weight: 600;
	border: #c78c06;
	border: solid;
	border-width: 1px;
	width: 150px;
	margin-bottom: 15px;
  }

  /* adds style only to the final send button */
  #send {
	background-color: black;
	color: #c78c06;
    font-size: 1.2rem;
	padding: 5px;
	font-weight: 600;
	border: none;
	width: 70px;
	margin-top: 20px;
  }

/*theres now and outline and spacing on hours of operation sizing will be changed*/
.hours {
    outline-style: solid;
    outline-width: thin;
    padding: 1.5em;
    margin: 0.75em;
}

/*not targeting the first?? */
.table-info div:nth-child(1) {
	background: red;
  }


