/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* border and padding getting error */
*{
    box-sizing: border-box;
    margin: auto;
}
/* change font */
body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
	font-size: 15px;
	line-height: 1.5;
}

li img {
	width: 100px;
	display: none;
}

nav {
    background-color: #222;
	text-align: center;
}

/*removes style of nav ul*/
nav ul {
	list-style: none;
}

/* adds spacing between list items */
nav li {
	padding: 15px;
}

.banner {
	padding: 80px;
	background: #c78c06;
  }

/* changes how tall the search icon box, colour of icon */
.fa-magnifying-glass {
	height: 20px;
	color: #c78c06;
	background-color: black;
}

/*affects the position of the icon*/
#search-button {
    width: 10px;
	height: 30px;
	padding-top: 10px;
	color: #c78c06;
	background-color: black;
}

/*lenghth and height of the search bar*/
input {
	width: 93%;
	height: 30px;
}

a:link { 
	text-decoration: none;
	color: #c78c06; 
}

  /*keeps visited link the same colour */
  a:visited {
    color: #c78c06;
  }

/*not very responsive */
.logo {
	max-width: 15%;
	height: auto;
	position: absolute;
    left: 10%;
    top: 10px;
}

/*still needs blackpadding */
#banner {
    background-color: #c78c06;
    width: 100%;
    height: 200px;
	margin: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
 /* working on search flex still */
li:last-child {
	display: flex;
}

.wrapper-welcome {
	background-image: url(../images/main-banner.jpg);
	background-size: cover;
	background-position: center;
	height: 800px;
	max-width: 760px;
	padding-top: 260px;
	margin: auto;
}

.welcome-content {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.clear-banner {
	/*position: relative;*/
	color: white;
	background-color: rgb(0, 0, 0, 0.5);
	font-size: 1rem;
	line-height: 1.5;
	bottom: 50%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
	width: 100%;
	display: block;
}

/* not working yet, have to set rem? stil not bold enough*/
h2 {
	font-size: 50px;
	font-weight: bold;
	padding: 30px;
}

h3 {
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
}

h4 {
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
	padding-left: 0;
	color: black;
}

/* adding style to the connect button */
  #connect {
	background-color: #c78c06;
    font-size: 1rem;
    padding: 1.5em;
    margin-top: 1em;
	font-weight: 400;
	border: none;
	width: 200px;
	text-align: left;
  }

  /* lets me customize the play icon, needs to be beside, first needs to be orange, display inline-block dosen't work */
  .fa-play {
    color: white;
    font-size: 1.3rem;
}

/*adds light yellow to about us and padding */
.wrapper-about-us {
background-color: #ffe6ac;
padding: 15px;
max-width: 760px;
margin: auto;
}

.wrapper-services {
	max-width: 760px;
	margin: auto;
}

/*adds colour and spacing to most wrappers */
.wrapper-digital , .wrapper-marketing , .wrapper-video , .wrapper-web , .wrapper-print , .wrapper-john , .wrapper-bob {
	background-color: #ffe6ac;
	padding: 15px;
	margin-bottom: 15px;
	}

  /* style for most of the buttons */
  #digital-plans , #video-plans , #web-plans , #print-plans {
	background-color: black;
	color: white;
    font-size: 1.5rem;
    padding: 1.5em;
    margin-top: 1em;
	font-weight: 400;
	border: none;
	width: 250px;
	margin-bottom: 15px;
  }
/* marketing needed a little tweak to fit nicely */
  #marketing-plans {
	background-color: black;
	color: white;
    font-size: 1.5rem;
    padding: 1.5em;
	padding-right: 15px;
    margin-top: 1em;
	font-weight: 400;
	border: none;
	width: 250px;
	margin-bottom: 15px;
  }

  /*postion vision content*/
  .wrapper-vision {
	background-image: url(../images/vision.jpg);
	background-size: cover;
  	top: 70px;
  	left: 16px;
	color: white;
	max-width: 760px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
  }

  /* style just for the learn more button, border not working yet */
  #our-vision {
	background-color: rgba(0,0,0,.75);
	color: white;
    font-size: 1.5rem;
    padding: 1.5em;
    margin-top: 1em;
	font-weight: 400;
	border: #c78c06 solid;
	border-width: 1px;
	width: 210px;
	margin-bottom: 15px;
  }

  /*creates underline and padding for our team section*/
  div.ceo , div.cfo {
	border-bottom:2px solid #c78c06; 
	width:98%; 
	}

	.wrapper-john p , .wrapper-bob p {
		padding-top: 10px;
	}

	.wrapper-team {
		max-width: 760px;
		margin: auto;
	}
  
	.wrapper-info {
		max-width: 760px;
		margin: auto;
		padding: 15px;
	}
	/*gives spacing between boxes*/
	#urname , #email , #urmessage {
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 5px;
		width: 45%;
	}

	/*makes the message box larger*/
	#urmessage {
		padding-bottom: 100px;
		padding-left: 0;
		
	}

	#email {
		margin-left: 25px;
	}

	#send {
		background-color: black;
		color: #c78c06;
		/* font-weight: 600; */
		border: none;
		padding: 10px 10px;
		font-size: 1.3rem;
	  }
  /* adds style only to the final send button */
  /*#send {
	background-color: black;
	color: #c78c06;
    font-size: 1.2rem;
	padding: 5px;
	font-weight: 600;
	border: none;
	width: 70px;
	margin-top: 20px;
  }*/

/* trying to even out cells, not working */
.table-info {
	margin-left: auto;
	margin-right: auto;
  }

  /*more in my effort to even out cells not working*/
table {
	width: 100%;
	border-spacing: 20px;
	border-collapse: collapse;
	max-width: 100%;
	width: 98%;
}

/* alighns adds border and colour to the top of the table*/
th {
	text-align: center;
	background-color: #ffe6ac;
	border: 1px solid;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
  }

  /*aligns to left adds border and spcaing*/
  td {
	text-align: left;
	border: 1px solid;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
  }

  /*sets the size of the map*/
  iframe {
    border:0;
    width: 100%;
    height:500px;
}
  /*sets colour, background, and spacing of footer*/
  footer {
	background-color: black;
	color: #c78c06;
	padding: 20px;
	padding-left: 10px;
	max-width: 760px;
	margin: auto;
  }

  /*adds spacing between p*/
  footer p {
	padding: 10px;
  }

  @media screen and (min-width:760px) {

	.banner {
		display: none;
	  }

	.logo {
		display: none;
	  }

	  li {
		padding: 0%;
		margin: 0%;
	  }

	  li img {
		display: block;
	  }
/* none of these options wirked unfortunatly, visited home link will be orange
	  li:nth-child(2) {
		color: black;
		background-color: #c78c06;
	  }

	  a:link:nth-child(1) {
		color: black;
		background-color: #c78c06;
	

	  a:visited:first-child {
		color: black;
	  } */

	  a:link {
		color: #c78c06;
	  }

	  a:visited {
		color: #c78c06;
	  }

	  li:nth-child(2) {
		color: black;
		background-color: #c78c06;
	  }

	  .header {
		display: flex;
		align-items: center;
		justify-content: center;
	  }

	  nav {
		width: 100%;
	  }

	  nav ul {
		list-style: none;
		width: 100%;
		display: flex;
		padding: 0%;
		margin: 0%;
		text-align: center;
		font-weight: 600;
		font-size: 1rem;
		color: black;
	  }

	  nav li {
		width: inherit;
	  }
	
	  .header {
		display: flex;
		max-width: 1200px;
	  } 

	  .wrapper-about-us {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	  }

	  #about-us {
		max-width: 45%;
		height: auto;
		width: auto;
	  }

	  #about-content {
		max-width: 45%;
		padding-left: 10px;
	  }

	  .wrapper-welcome , .wrapper-about-us , .wrapper-services , .wrapper-vision , .wrapper-team , .wrapper-info , footer{
		max-width: 1200px;
	  }

	  .wrapper-services {
		padding-left: 10%;
		padding-right: 10%;
		display: grid;
        grid-template-columns: repeat(6,1fr);
		grid-gap: 10px;
        grid-template-areas:
		"services services . . . ."
		"pic1 pic1 pic1 pic2 pic2 pic2"
		"digital digital digital marketing marketing marketing"
		"pic3 pic3 pic4 pic4 pic5 pic5"
		"video video web web print print"
	  }
	  
	  .wrapper-services h2 { grid-area: services; }
	  #digital { grid-area: pic1; }
	  .wrapper-digital { grid-area: digital; }
	  #marketing { grid-area: pic2; }
	  .wrapper-marketing { grid-area: marketing; }
	  #video { grid-area: pic3; }
	  .wrapper-video { grid-area: video; }
	  #web { grid-area: pic4; }
	  .wrapper-web { grid-area: web; }
	  #print { grid-area: pic5;}
	  .wrapper-print { grid-area: print; }

	  .wrapper-team {
		padding-left: 10%;
		padding-right: 10%;
		display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
		"team team"
		"pic1 john"
		"bob pic2"
	  }
	  .wrapper-team h3 { grid-area: team; }
	  #john { grid-area: pic1; }
	  .wrapper-john { grid-area: john; }
	  #bob { grid-area: pic2; }
	  .wrapper-bob { grid-area: bob;}


  }

